
.container-post{
    margin: 15px;    
}
header {
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 990px;
    background-color: white;
}
.container{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.container{   
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.navbar {
    border-radius: 0px;
}
.img-logo{
    width: 100%;
}
.color-swatches .swatches{
    border-radius: initial;

}
.color-swatches .swatches:hover{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    /*transform: scale(1.1);*/    
}
.visitorType{
    /*padding-right: 15px;*/
    padding-left: 15px;
    padding-right: 15px;
}
.visitorType a {
    color: #fff;
    text-decoration: none;    
}
.visitorType .visitor-type1{
    background-color:#A0D468;
}
.visitorType .visitor-type1:hover{
    background-color:#8CC152;
}
.visitorType .visitor-type2{
    background-color:#4FC1E9;
}
.visitorType .visitor-type2:hover{
    background-color:#3BAFDA;
}
.visitorType .visitor-type3{
    background-color:#FFCE54;
}
.visitorType .visitor-type3:hover{
    background-color:#F6BB42;
}
.visitorType .visitor-type4{
    background-color:#ED5565;
}
.visitorType .visitor-type4:hover{
    background-color:#DA4453;
}
.categorization{
    float: right;
    padding-left: 0px;
    padding-right: 0px;

}

.media_social img{
    width: 24px;
    height: 24px;
}
.media_social{
    float: right;
}
.media_social ul > li{
    padding: 2px 0px 0px;
}

.media_social a {
    color: #fff;
    display: inline-block;
    height: 24px;                
    margin: 0;
    text-align: center;
    width: 24px;
}


.blue-jeans {
    background: none repeat scroll 0 0 #4A89DC !important;
    border: 0 none !important;
    color: #fff !important;
}
.aqua {
    background: none repeat scroll 0 0 #3BAFDA !important;
    border: 0 none !important;
    color: #fff !important;
}
.mint {
    background: none repeat scroll 0 0 #37BC9B !important;
    border: 0 none !important;
    color: #fff !important;
}
.grass {
    background: none repeat scroll 0 0 #8CC152 !important;
    border: 0 none !important;
    color: #fff !important;
}
.sunflower {
    background: none repeat scroll 0 0 #F6BB42 !important;
    border: 0 none !important;
    color: #fff !important;
}
.bittersweet {
    background: none repeat scroll 0 0 #E9573F !important;
    border: 0 none !important;
    color: #fff !important;
}
.graperfruit {
    background: none repeat scroll 0 0 #DA4453 !important;
    border: 0 none !important;
    color: #fff !important;
}
.lavender {
    background: none repeat scroll 0 0 #967ADC !important;
    border: 0 none !important;
    color: #fff !important;
}
.pink-rose {
    background: none repeat scroll 0 0 #D770AD !important;
    border: 0 none !important;
    color: #fff !important;
}
.media_social .pattern1 {
    background: url("../img/patterns/pattern1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern2 {
    background: url("../img/patterns/pattern2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern3 {
    background: url("../img/patterns/pattern3.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern4 {
    background: url("../img/patterns/pattern4.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern5 {
    background: url("../img/patterns/pattern5.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern6 {
    background: url("../img/patterns/pattern6.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern7 {
    background: url("../img/patterns/pattern7.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern8 {
    background: url("../img/patterns/pattern8.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern9 {
    background: url("../img/patterns/pattern9.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern10 {
    background: url("../img/patterns/pattern10.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}
.media_social .pattern11 {
    background: url("../img/patterns/pattern11.png") repeat scroll 0 0 rgba(0, 0, 0, 0);                
}

/*carousel*/
.carousel-inner .item img{
    width: 660px;
    max-width: 660px;
    max-height: 333px
}
/* Tablet Portrait*/
@media (max-width: 768px) and (min-width: 481px) {

    .el-center {
        width: 80%;
        text-align: center;
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding: 1px;
    }
    .carousel-inner .item img{
        width: 100%;
        max-width: none;
        max-height: none;
    }

}
/* Mobile */
@media (max-width: 480px) and (min-width: 0px) {
    .el-center {
        width: 80%;
        text-align: center;
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding: 1px;
    }
    .color-swatches .infos h4 {
        font-size: 9px;
    }
    .container{   
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;
        box-shadow: none;
    }
    header {
        padding-left: 0px;
        padding-right: 0px;
    }


    /*    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            min-height: 1px;
            padding-left: 0px;
            padding-right: 0px;
            position: relative;
        }*/
}

/*[class*="col-"] {
    padding-left: 2px;
    padding-right: 2px;
}*/